.mediaPanel {
  padding: 0;
  width: 100%;
  color: white;

  h2 {
    text-align: left;
    margin: 0;
    padding: 0;
  }

  h2::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #aaaaaa;
    margin-bottom: 8px;
  }
}

.mediaList {
  width: 98%;
  margin: auto;
  text-align: center;
  table {
    margin-top: 8px;
    width: 100%;
    background-color: #222222;
    color:white;
    border: 1px solid #6441a4;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 5px;
    border-collapse: collapse;
    border-radius: 8px;

    th {
      font-size: 0.7em;
      color: #dddddd;
      background-color: #6441a4;
      text-align: center;
      font-weight: bold;
    }

    th:first-child {
      width: 50px;
      border: 1px solid #6441a4;
    }

    tr {
      border: 1px solid #6441a4;
      line-height: 2.5em;
    }
    tr:first-child {
      border-right: 1px solid #6441a4;
    }

    td {
      vertical-align: middle;
      input[type=text] {
        background-color: black;
        border: 1px solid #6441a4;
        color:white;
        text-align: center;
        display: inline-block;
        width: 98%;
        line-height: 2em;
        height: 3em;
      }

      input[type='checkbox'] {
        appearance: none;
        width: 20px;
        height: 20px;
        background: black;
        border: 2px solid #666666;
        border-radius: 50px;
        margin: -4px;
        transition: all 0.2s ease-in;
      }
      input[type='checkbox']:checked {
        background: #5614B0;
        border: 2px solid white;
        transition: all 0.2s ease-in;
      }
    }
    td:first-child {
      border-right: solid 1px #5614B0;
      text-align: center;
      vertical-align: middle;
    }
  }
}

.mediaLoading {
  display: block;
  width: 100%;
  text-align: center;
  img {
    display: inline-block;
    height: 100px;
  }
}

