.welcomePanel {
  padding-top:30px;
  flex-direction: column;
  text-align: center;

  margin: 0;
  width: 100vw;
  transition: all 0.5s ease-in;

  h2{
    font-size: 1em;
  }
}

.accountInformation {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  border-radius: 50%;
  padding: 0;
  text-align: center;
  background: no-repeat center;
  background-size: cover;
  min-width: 150px;
  min-height: 150px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  font-size: 1.3em;
}

.userName {
  color: black;
  background-color: rgba(255, 255, 255, 1);
  font-weight: bolder;
  padding: 8px 24px;
  border-radius: 8px;
  transform: rotate(-5deg) translate(0, 70px);
  border: 2px solid rgba(0, 0, 0, 1);
}

.information {
  background-color: rgba(0,0,0,0.5);
  flex-wrap: wrap;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  div {
    margin: 10px 0;
  }
}

.profilePicture {
  margin: 0;
  padding: 0;
  text-align: center;
  background: no-repeat center;
  background-size: contain;
  width: 100%;
  display: inline-block;
  height: 200px;
}
