body {

}

.App {
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: white;
}

button {
  background-color: #5614B0;
  color: white;
  text-align: center;
  padding: 0 20px;
  margin: 10px 5px;
  font-size: 1em;
  height: 1.5em;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 3px;
  transition: all 0.2s ease-in;
  cursor: pointer;

  span {
    background-color: white;
    color: black;
    display: inline-block;
    line-height: 20px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    font-weight: bolder;
  }

  &:disabled, &[disabled] {
    border: 1px solid #111111;
    background-color: #444444;
    color: #999999;
    transition: all 0.2s ease-in;
  }
}

input {
  background-color: #dddddd;
  color: black;
  font-weight: bold;
  border: #777777 1px solid;
}

.button-danger {
  background-color: #ff14B0;
}

.button-important {
  background-color: #aaffaa;
  color: black;
}

.button-bar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #111111;
  border-radius: 10px;
  line-height: 50px;
  margin: 5px 0;
  box-sizing: content-box;
  justify-content: space-around;
}

fieldset {
  flex-grow: 1;
  border-radius: 10px;
  border: 1px solid #888888;
  margin: 2px;
  justify-content: space-around;

  input {
    text-align: center;
    line-height: 1.5em;
    font-size: 1.1em;
    margin: 2px;
    flex-grow: 1;
  }
  label {
    display: inline-block;
    flex-grow: 1;
  }
}

.warning {
  text-align: center;
  line-height: 2em;
  font-size: 1.1em;
  margin: 0;
  padding: 0;
  color: #FFD200;
  a {
    color: #aaffaa;
  }
}

form {
  color:#222222;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  font-size: 0.7em;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 1;

  div{
    flex-grow: 1;
  }

  label {
    line-height: 2em;
    font-size: 1.1em;
    margin: 8px 0;

    span {
      margin: 8px;
    }

    input[type='checkbox'] {
      appearance: none;
      width: 20px;
      height: 20px;
      background: white;
      border: 2px solid #666666;
      margin: -4px;
      transition: all 0.2s ease-in;
    }
    input[type='checkbox']:checked {
      background: #5614B0;
      transition: all 0.2s ease-in;
    }
  }
}
