.navigator{
  width: 100vw;
  height: 100vh;
  display: flex;
}

.navigatorContent{
  position: absolute;
  left:200px;
  height: 100vh;
  padding: 4px;
  width: calc(100% - 200px);
}

.sideBar{
  position: fixed;
  background-color: #000000;
  color: white;
  min-width: 200px;
  height: 100vh;
}
.viewPicker{
  background-color: #222222;
  color: white;
}

.navigationItem{
  a{
    color: white;
    text-decoration: none;
    line-height: 3em;
  }
  span{
    padding: 8px;
  }
  transition: all 1s;
}

.selected{
  background-color: #6441a4;
  transition: all 1s;
}
