.array {
  margin: 4px 0;
  max-height: 400px;
  overflow-y: scroll;
  border: 1px solid #dddddd;
  border-radius: 8px;
}

.fields {
  float: left;
  border: #eeeeee solid 1px;
  margin: 4px;
  border-radius: 4px;
  padding:4px;
}

fieldset {
  margin: 2px !important;
  padding: 0 !important;
  display: inline-block;
}

label {
  display: flex;
  flex-direction: row;
}
.arrayHeader {
  width: 100%;
  h2 {
    position: relative;
    width: 100%;
    font-weight: bolder;
    background-color: black;
    color: white;
    text-align: center;
    border-bottom: #222222;

    button {
      margin: 0 8px;
    }
  }
}

.arrayBody {
}

.arrayItem {
  border: 1px solid #dddddd;
  border-radius: 8px;
  margin: 4px;
  padding: 4px;
  display: inline-grid;
  text-align: center;
  &:hover {
    background-color: #dddddd;
    transition: all 0.3s;
  }
  span {
    font-weight: bolder;
  }
}

.arrayItemButtons {
  button {
    margin: 0 4px 2px 2px;
  }
}

h3 {
  font-weight: bolder;
  border-bottom: #222222;
}

.buttonBar {
  color: white;
  display: grid;
}

.arrayItemThumb {
  height: 100px;
  max-width: 100px;
}

.arrayItemBackground {
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  z-index: 2;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.arrayItemFormContainer {
  margin: 100px;
}

.settingsButtonBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  width: calc(100% - 208px);
  top: 2px;

  button {
    opacity: 0.9;
    margin: 0 8px;
    border-radius: 100%;
    min-height: 80px;
    min-width: 80px;
    position: absolute;
    box-shadow: black 5px 5px ;
    background-color: #229922;
    color:white;
    font-weight: bolder;
    right: 20px;
    top: calc(20px);
  }
}

.settingsPanel{
  margin:0 20px;
  font-size: 1.2em;
}
