.youtubeChatControls {
  justify-content: center;
}

.broadcasts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.broadcast {
  box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 3px;
  color: white;
  font-size: 0.8em;
  font-weight: bolder;
  text-shadow: black 1px 1px 1px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 70%, rgba(124, 0, 0, 1) 100%);
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  padding: 2px;
  margin: 10px;
  max-width: 200px;
  border-radius: 16px;
  text-align: center;

  img {
    width: 100%;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.8) 1px 4px 1px;
  }
}

.connected {
  transition: all 0.2s ease-in;
  background-color: #aaffaa;
  border-color: #00dd00;
}

.loading {
  transition: all 0.2s ease-in;
  background-color: #ffffaa;
  border-color: #FFD200;
}

