.youtubeChatControls {
  justify-content: space-around;
}

.broadcasts {
  display: flex;
  justify-content: space-around;
}

.broadcast {
  box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 3px;
  color: white;
  font-weight: bolder;
  background: linear-gradient(180deg, rgba(255, 0, 0, 1) 20%, rgba(106, 0, 0, 1) 100%);
  border: solid 1px black;
  padding: 2px;
  display: flex;
  width: 196px;
  border-radius: 4px;
  text-align: center;
  justify-content: space-around;
  margin: 8px 2px;
  a{
    color:white;
  }
  img {
    width: 24px;
    height: 24px;
    margin-right: 4px;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.8) 1px 4px 1px;
  }
}

.connected {
  transition: all 0.2s ease-in;
  background-color: #aaffaa;
  border-color: #00dd00;
}

.loading {
  transition: all 0.2s ease-in;
  background-color: #ffffaa;
  border-color: #FFD200;
}

