.welcome-panel {
  &__status-bar {
    padding: 4px;
    display: flex;
    flex-direction: row;
    background-color: #dddddd;
    color: black;
    text-align: center;
    line-height: 2px;

    &__hidden {
      display: none;
    }

    &__disconnected-information {
      background-color: #dddddd;
      color: black;
      flex-grow: 1;
      min-height: 20px;
      line-height: 20px;

      a {
        background-color: #eeeeee;
        border: solid 1px #aaaaaa;
        text-align: center;
        color: black;
        border-radius: 20px;
        text-decoration: none;
        padding: 0 20px;

        &:hover {
          background-color: #ddffdd;
          cursor: pointer;
        }
      }
    }

    &__profile-picture {
      background-origin: center;
      background-size: cover;
      min-height: 20px;
      min-width: 20px;
      border-radius: 50%;
      border: 2px solid white;
      box-shadow: 2px 2px black;
    }
    &__twitch {
      font-weight: bold;
      background-color: #6441a4;
      color: white;
      flex-grow: 1;
    }
    &__youtube {
      font-weight: bold;
      background-color: #ff41a4;
      color: white;
      flex-grow: 1;
    }
    &__origin {
      flex-grow: 1;
      line-height: 20px;
    }
    &__name {
      flex-grow: 1;
      line-height: 20px;
    }        
  }
  button {
    border-radius: 16px;
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
    min-width: 20px;
    line-height: 20px;
    color: black;
    background-color: #eeeeee;
    border: solid 1px #aaaaaa;
    text-align: center;
    padding: 0 64px;
    margin: 0 10px;
    &:hover {
      background-color: #ffdddd;
      cursor: pointer;
    }
  }
}
