.form {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding:2px;
  margin:2px;
}

.settings {
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  font-size: 0.7em;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 1;

  div{
    flex-grow: 1;
  }

  label {
    line-height: 2em;
    font-size: 1.1em;
    margin: 8px;

    span {
      margin: 8px;
    }
    input[type='text'] {
      font-size: 1.2em;
    }
    input[type='checkbox'] {
      appearance: none;
      width: 20px;
      height: 20px;
      background: white;
      border: 2px solid #666666;
      margin: -4px;
      transition: all 0.2s ease-in;
    }
    input[type='checkbox']:checked {
      background: #5614B0;
      transition: all 0.2s ease-in;
    }
  }
}
