.chickenPlayground{
  position:absolute;
  left:0;
  top:0;
  width: 100vw;
  height: 100vh;
  background-color: yellow;
}

.chicken {
  left:0;
  top:0;
  position: absolute;
  width: 5vw;
  height: 5vw;
  background-size: contain;
  background-repeat: no-repeat;
}

.standing {
  background-image: url('./img/chicken-standing.gif');
}

.moving {
  background-image: url('./img/chicken-walking.gif');
}

.flipped {
  transform: scaleX(-1);
}

.chatBubble {
  opacity: 0;
  left:0;
  top:-64px;
  font-size: 1.6em;
  height: auto;
  position: absolute;
  width: auto;
  min-width: 10px;
  min-height: 1em;
  padding: 10px;
  margin: 1em 0 3em;
  font-weight: bold;
  text-shadow: black 3px 3px 3px;
  background: #f3961c;
  border-radius: 10px;
  border: 2px solid white;
  color:white;
  background: linear-gradient(top, rgba(0,33,163,0.8), #000000);
}

