.chatControls {
  display: grid;
  flex-direction: row;
  justify-content: space-around;
  color: black;
}

.twitchChat {
  color: white;
  font-weight: bolder;
  min-height: 50px;
  padding: 10px 2px;

  display: flex;
  width: 184px;
  margin: 8px 8px;
  border-radius: 4px;
  text-align: center;
  justify-content: space-around;
  border: 1px solid #444444;
  a{
    color:white;
  }
  img {
    width: 24px;
    height: 24px;
    margin-right: 4px;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.8) 1px 4px 1px;
  }
  transition: all 0.2s ease-in;
}

.connected {
  transition: all 0.2s ease-in;
  background-color: #6441a4;
}

.loading {
  transition: all 0.2s ease-in;
  background-color: #444444;
}

