.chat-controls{
  padding:16px;
    &__button {
        text-overflow: clip;
        overflow: hidden;
        white-space: nowrap;
        line-height: 18px;
        color: black;
        background-color: #eeeeee;

        text-align: center;
        padding: 0 64px;
        margin: 0 10px;
        &:hover {
          background-color: #ddffdd;
          cursor: pointer;
        }
      }
    
      &__button__hidden{
        display:none;
      }

      img{
        height: 16px;
      }
}
