.mediaRemote {
  background: linear-gradient(to bottom, #FFD200, #F7971E);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.mediaItem {
  text-overflow: clip;
  overflow: hidden;
  padding:5px;
  color: white;
  background-color: #5614B0;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 1em;
  margin:20px;
  text-align: center;
  vertical-align: middle;
  flex-grow: 0;
  width: 100px;
  height: 100px;
  border:none;
  box-shadow: rgba(0,0,0,0.5) 3px 3px 3px;
  transition: all 0.2s ease-in;

  &:hover{
    background-color: #6441a4;
    transition: all 0.2s ease-in;
  }
}
