.video {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.videoContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.videoPlayer {
  top: 0;
  left: 0;
  position: absolute;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: transparent;

  video {
    object-fit: contain;
    background-size: contain;
    box-sizing: content-box;
    width: 100vw;
    height: 100vh;
  }

  &__author {
    display: inline;
    width: auto;
    position: relative;
    top: -1.2em;
    border-radius: 8px;
    font-size: 4em;
    line-height: 1.2;
    outline-color: black;
    color: #ffffff;
    text-shadow: black 5px 5px 5px;

    &-sponsor {

    }
  }
}

