.video {
  overflow: hidden;
}

.videoContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 90vw;
  height: 90vh;
}

.videoPlayer {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: transparent;

  video {
    background-size: contain;
    box-sizing: content-box;
    border-radius:24px;
    border: solid 8px #E8C547;
  }

  &__author {
    display: inline;
    width: auto;
    position: relative;
    top: -1.2em;
    border-radius: 8px;
    font-size: 4em;
    line-height: 1.2;
    color: #ffffff;
    transform: rotate(-5deg);
    text-shadow: black 5px 5px 5px;

    &-sponsor {

    }
  }
}

